body {
    background-color: #f0f0f0;
}


h1 {
    color: darkgreen;
    text-decoration: underline;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: darkcyan;
    text-decoration: underline;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


div {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: palevioletred;
}
a:hover {
    color: red;
    text-decoration: underline;
}

.first-letter {
    font-size: 50px;
    line-height: 1.4em;
    font-weight: bold;
    vertical-align: middle;
    /* background-color: darksalmon; */
    padding: 1 8px;
  }

dt {
    font-weight: 700;
    color: blue;
}

dl {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}